/*
  ./modules/_list.scss
  Module des listes
 */

/**
 *? construction:
 *? à voir si c'est nécessaire en framework ou mieux en app
 */

//------------------------------------------------------------------------------------------------
// .CLASS de du module des boites
//------------------------------------------------------------------------------------------------
/*
    . |  | 
*/

//------------------------------------------------------------------------------------------------
// VARIABLE LIST
//------------------------------------------------------------------------------------------------

//------------------------------------------------------------------------------------------------
// DEFAULT SPECIFICATIONS
//------------------------------------------------------------------------------------------------

//------------------------------------------------------------------------------------------------
// LIST
.list {
  margin: 1em 0;
  list-style: disc;

  li {
    //margin:;
  }
  &-ord {
    //ordered
    margin: 0;
    padding: 0;
    li {
    }
  }
  &-alt {
    list-style: disc;
    li:nth-child(even) {
      background-color: $color-neutral-4;
    }
    li:nth-child(odd) {
      background-color: $color-neutral-4;
    }
  }

  &-icon {
    display: flex;
    list-style: none;
    color: $color-neutral-1;
    li {
      margin: 1em 1em 1em 0em;
      display: inline-block;
    }
  }
}

//------------------------------------------------------------------------------------------------
//
